@font-face {
  font-family: "DNFBitBitv2";
  font-weight: normal;
  src: url("../../assets/font/DNFBitBitv2.ttf") format("truetype");
}

.frontlogo {
  position: absolute;
  left: 38vw;
  top: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  font-family: "DNFBitBitv2";
  cursor: pointer;
}
